@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* background: radial-gradient(100% 50% at 50% 0%, rgba(0, 163, 255, 0.13) 0%, rgba(0, 163, 255, 0) 50%, rgba(0, 163, 255, 0) 100%);
  background-color: white; */
  font-family: "Manrope", sans-serif;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  /* display: flex;       
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  */
}
